#button-edit-profile {
    position: relative;
    bottom: 330px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    left: 240px;
    color: black;
    background-color: #fff;
    border-color: white;
}
#button-edit-profile:hover {
    position: relative;
    bottom: 330px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    left: 240px;
    color: black;
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}

#button-request {
    position: relative;
    bottom: 190px;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    left: 220px;
    color: black;
    background-color: #fff;
    border-color: white;
}
#button-request:hover {
    position: relative;
    bottom: 190px;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    left: 220px;
    color: black;
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}

#button-delete {
    position: relative;
    bottom: 190px;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    left: 200px;
    color: white;
    background-color: #ff0000;
    border-color: #ff0000;
}
#button-delete:hover {
    position: relative;
    bottom: 190px;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    left: 200px;
    color: white;
    background-color: #f71111;
    border-color: #f71111;
}