#edit-delete-design {
    position: absolute;
    width: 40px;
    height: 40px;
    float:right;
    margin-left: 190px;
}

#buttonedit {
    border-radius: 50%;
    background-color: white;
}

#buttonedit:hover {
    border-radius: 50%;
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);

}