#post-style {
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#text-style {
    text-align: left;
    font-size: 17px;
    margin-top: 10px;
}

#likecomments {
    padding-top: 9px;
    padding-left: 11px;
    text-align: left;
}

#border-line2 {
    align-self: center;
    width: 480px;
    border-width: 2px;
    border-radius: 3px;
}