#name-slogen {
    position: relative;
    top:30%;
    margin-top:40px;
    left: 10%;
    text-align: left;
}
#app-name {
    font-size: 50px;
    color: #8C3E7F;
    text-align: left;
    font-weight: 700;
}

#image-style {
    width: 460px;
}

#slogen2 {
    font-size: 25px;
    text-align: left;
}